{% extends 'parts/base.html' %}
{% block title %}password done Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <h4>password_done page</h4>
            <hr>
            <div class="alert alert-info">
                <h5>A mail has been sent to the email address you provided. it has instructions you need to follow to to reset  your password</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}